<h3>@Titolo</h3>

@if(Lista != null)
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome Completo</th>
                <th>Data di nascita</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cliente in Lista)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nome @cliente.Cognome</td>
                    <td>@cliente.DataNascita.ToShortDateString()</td>
                    <td>@cliente.Email</td>
                    <td><button 
                        @onclick="() => OnCancella.InvokeAsync(cliente)" 
                        class="btn btn-danger">Elimina</button>
                        <button class="btn btn-warning"
                        @onclick="() => OnModifica.InvokeAsync(cliente)">Modifica</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter] public string Titolo { get; set; } = "Lista Clienti";
    [Parameter] public List<Cliente>? Lista { get; set; }
    [Parameter] public EventCallback<Cliente> OnCancella { get; set; }
    [Parameter] public EventCallback<Cliente> OnModifica { get; set; }
}
